In [3]:
from lxml import html
import requests
import time

def is_header(row):
    if len(row.xpath('th')):
        return True
    else:
        return False

def decode_unicode(data):
    return [x.encode('utf-8') for x in data]
    
def scrape_rows(rows):
    numbeo_sections = []
    for row in rows:
        if is_header(row):
            header_data = decode_unicode(row.xpath('th/text()'))
            section = dict(
                title=header_data[0],
                data=[]
            )
            numbeo_sections.append(section)
        else:
            row_data = decode_unicode(row.xpath('td/text()'))
            expense = row_data[0]
            cost = row_data[1]
            data_row = dict(expense=expense, cost=cost)

            # take the previous
            section = numbeo_sections[-1]
            section['data'].append(data_row)
            
    
    return numbeo_sections

def scrape_countries():    
    page = requests.get('https://www.numbeo.com/cost-of-living')
    tree = html.fromstring(page.content)
    countries = tree.xpath('//select[@id="country"]/option/text()')[1:]

    return countries


countries = scrape_countries()

countries_data = dict()

for country in countries:
    page = requests.get('https://www.numbeo.com/cost-of-living/country_result.jsp?country={}&displayCurrency=USD'.format(country))
    tree = html.fromstring(page.content)
    rows = tree.xpath('//table[@class="data_wide_table"]/tr')
    country_data = scrape_rows(rows)
    countries_data[country] = country_data

In [4]:
countries_data['Canada']

[{'data': [{'cost': ' 11.96\xc2\xa0$',
    'expense': 'Meal, Inexpensive Restaurant '},
   {'cost': ' 51.04\xc2\xa0$',
    'expense': 'Meal for 2 People, Mid-range Restaurant, Three-course '},
   {'cost': ' 7.18\xc2\xa0$',
    'expense': 'McMeal at McDonalds (or Equivalent Combo Meal) '},
   {'cost': ' 4.78\xc2\xa0$', 'expense': 'Domestic Beer (0.5 liter draught) '},
   {'cost': ' 5.18\xc2\xa0$', 'expense': 'Imported Beer (0.33 liter bottle) '},
   {'cost': ' 3.05\xc2\xa0$', 'expense': 'Cappuccino (regular) '},
   {'cost': ' 1.58\xc2\xa0$', 'expense': 'Coke/Pepsi (0.33 liter bottle) '},
   {'cost': ' 1.35\xc2\xa0$', 'expense': 'Water (0.33 liter bottle)  '}],
  'title': 'Restaurants'},
 {'data': [{'cost': ' 1.65\xc2\xa0$', 'expense': 'Milk (regular), (1 liter) '},
   {'cost': ' 2.20\xc2\xa0$', 'expense': 'Loaf of Fresh White Bread (500g) '},
   {'cost': ' 3.13\xc2\xa0$', 'expense': 'Rice (white), (1kg) '},
   {'cost': ' 2.62\xc2\xa0$', 'expense': 'Eggs (regular) (12) '},
   {'cost': ' 9.31\xc2\xa0$', 'expense': 'Local Cheese (1kg) '},
   {'cost': ' 10.17\xc2\xa0$',
    'expense': 'Chicken Breasts (Boneless, Skinless), (1kg) '},
   {'cost': ' 10.89\xc2\xa0$',
    'expense': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) '},
   {'cost': ' 3.11\xc2\xa0$', 'expense': 'Apples (1kg) '},
   {'cost': ' 1.40\xc2\xa0$', 'expense': 'Banana (1kg) '},
   {'cost': ' 2.98\xc2\xa0$', 'expense': 'Oranges (1kg) '},
   {'cost': ' 2.90\xc2\xa0$', 'expense': 'Tomato (1kg) '},
   {'cost': ' 1.94\xc2\xa0$', 'expense': 'Potato (1kg) '},
   {'cost': ' 1.90\xc2\xa0$', 'expense': 'Onion (1kg) '},
   {'cost': ' 1.76\xc2\xa0$', 'expense': 'Lettuce (1 head) '},
   {'cost': ' 1.76\xc2\xa0$', 'expense': 'Water (1.5 liter bottle) '},
   {'cost': ' 11.96\xc2\xa0$', 'expense': 'Bottle of Wine (Mid-Range) '},
   {'cost': ' 2.03\xc2\xa0$', 'expense': 'Domestic Beer (0.5 liter bottle) '},
   {'cost': ' 2.39\xc2\xa0$', 'expense': 'Imported Beer (0.33 liter bottle) '},
   {'cost': ' 9.97\xc2\xa0$', 'expense': 'Pack of Cigarettes (Marlboro) '}],
  'title': 'Markets'},
 {'data': [{'cost': ' 2.51\xc2\xa0$',
    'expense': 'One-way Ticket (Local Transport) '},
   {'cost': ' 72.57\xc2\xa0$', 'expense': 'Monthly Pass (Regular Price) '},
   {'cost': ' 2.79\xc2\xa0$', 'expense': 'Taxi Start (Normal Tariff) '},
   {'cost': ' 1.44\xc2\xa0$', 'expense': 'Taxi 1km (Normal Tariff) '},
   {'cost': ' 25.52\xc2\xa0$',
    'expense': 'Taxi 1hour Waiting (Normal Tariff) '},
   {'cost': ' 0.86\xc2\xa0$', 'expense': 'Gasoline (1 liter) '},
   {'cost': ' 18,342.04\xc2\xa0$',
    'expense': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) '},
   {'cost': ' 17,082.21\xc2\xa0$',
    'expense': 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car) '}],
  'title': 'Transportation'},
 {'data': [{'cost': ' 111.50\xc2\xa0$',
    'expense': 'Basic (Electricity, Heating, Water, Garbage) for 85m2 Apartment '},
   {'cost': ' 0.25\xc2\xa0$',
    'expense': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) '},
   {'cost': ' 49.73\xc2\xa0$',
    'expense': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) '}],
  'title': 'Utilities (Monthly)'},
 {'data': [{'cost': ' 38.78\xc2\xa0$',
    'expense': 'Fitness Club, Monthly Fee for 1 Adult '},
   {'cost': ' 16.60\xc2\xa0$',
    'expense': 'Tennis Court Rent (1 Hour on Weekend) '},
   {'cost': ' 10.36\xc2\xa0$',
    'expense': 'Cinema, International Release, 1 Seat '}],
  'title': 'Sports And Leisure'},
 {'data': [{'cost': ' 811.65\xc2\xa0$',
    'expense': 'Preschool (or Kindergarten), Private, Monthly for 1 Child '},
   {'cost': ' 12,759.68\xc2\xa0$',
    'expense': 'International Primary School, Yearly for 1 Child '}],
  'title': 'Childcare'},
 {'data': [{'cost': ' 47.49\xc2\xa0$',
    'expense': '1 Pair of Jeans (Levis 501 Or Similar) '},
   {'cost': ' 33.82\xc2\xa0$',
    'expense': '1 Summer Dress in a Chain Store (Zara, H&M, ...) '},
   {'cost': ' 79.36\xc2\xa0$',
    'expense': '1 Pair of Nike Running Shoes (Mid-Range) '},
   {'cost': ' 96.63\xc2\xa0$',
    'expense': '1 Pair of Men Leather Business Shoes '}],
  'title': 'Clothing And Shoes'},
 {'data': [{'cost': ' 897.00\xc2\xa0$',
    'expense': 'Apartment (1 bedroom) in City Centre '},
   {'cost': ' 717.96\xc2\xa0$',
    'expense': 'Apartment (1 bedroom) Outside of Centre '},
   {'cost': ' 1,464.66\xc2\xa0$',
    'expense': 'Apartment (3 bedrooms) in City Centre '},
   {'cost': ' 1,179.90\xc2\xa0$',
    'expense': 'Apartment (3 bedrooms) Outside of Centre '}],
  'title': 'Rent Per Month'},
 {'data': [{'cost': ' 3,536.86\xc2\xa0$',
    'expense': 'Price per Square Meter to Buy Apartment in City Centre '},
   {'cost': ' 2,525.65\xc2\xa0$',
    'expense': 'Price per Square Meter to Buy Apartment Outside of Centre '}],
  'title': 'Buy Apartment Price'},
 {'data': [{'cost': ' 2,376.74\xc2\xa0$',
    'expense': 'Average Monthly Net Salary (After Tax) '},
   {'cost': ' 2.85',
    'expense': 'Mortgage Interest Rate in Percentages (%), Yearly '}],
  'title': 'Salaries And Financing'}]

In [5]:
import json

numbeo_data_file = 'countries_data.json'

with open(numbeo_data_file, 'w') as fp:
    fp.write(json.dumps(countries_data))